.heading {
  display: flex;
  margin: 2rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container {
  width: 100%;
  height: 100%;
}
.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
/* for image */
.image-container img {
  width: 75px;
  height: 75px;
}
/* for nof items select */
.select-quantity {
  display: flex;
}
.select-quantity select {
  border: none;
  outline: none;
  color: gray;
  font-size: medium;
  margin-left: 1rem;
  background-color: transparent;
  width: 100%;
}
/* total amount */
.total-amount{
  max-width: 90rem;
  margin-top: 0rem;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.checkout-button{
  width: 8rem;
  height: 3rem;
  border: none;
  border: 2px solid black;
  background-color: #ffff;
}

@media (min-width: 320px) {
  .web-container {
    display: none;
  }
  .footer {
    display: none;
  }
  .cart-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
  }
  .mobile-container {
    max-width: 720px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    font-size: small;
    flex-direction: column;
    row-gap: 2rem;
  }
  .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .row2 {
    display: flex;
    gap: 1rem;
    margin-left: auto;
  }
  .total-amount{
    max-width: 90rem;
    gap: 3rem;
  }
  .checkout-button{
    top: 90%;
    left: 0%;
    position: fixed;
    color: white;
    width: 100%;
    margin: 1rem 0 0 0;
    height: 4rem;
    background-color: #190572;
  }
}
/* medium */
@media (min-width: 768px) {
  .footer {
    display: block;
  }
  .mobile-container {
    display: none;
  }
  .checkout-button{
    position: relative;
    width: 8rem;
    height: 3rem;
    border: none;
    color: black;
    border: 2px solid black;
    background-color: #ffff;
    bottom: 2rem;
    top: -35%;
  }
  .web-container {
    max-width: 900px;
    width: 80%;
    display: flex;
    font-size: small;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2.5rem;
    white-space: nowrap;
  }
  .item-description {
    align-self: flex-start;
    margin-right: auto;
  }
  .total-amount {
    max-width: 90rem;
    padding-right: 5rem;
    gap: 3rem;
  }
}
